/* Projects.css */

.projects-section {
  background-color: #000; /* Black background */
  color: #fff; /* White text color */
  padding: 40px;
  position: relative;
  text-align: center;
}

.projects-section h2 {
  color: #d7bde2;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background-color: #222; /* Dark grey background for cards */
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 87, 51, 0.3); /* Adding a shadow effect */
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #d1f2eb; /* Vibrant color for project titles */
}

.project-card p {
  font-size: 1.1rem;
  color: #fff; /* White color for descriptions */
  margin-bottom: 20px;
}

.project-card a {
  color: #d1f2eb; /* Vibrant color for links */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.project-card a:hover {
  color: #ff5733; /* Color change on hover for links */
}

.background-graphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.2; /* Slight transparency for the background graphic */
  z-index: -1; /* Ensure the graphic stays in the background */
}
